$color-red : #fe2222; //#fe2222; | a320d3 | 209ed3
$color-blue : #3b6ae1;
$color-light-blue: #209ed3;
$color-purple: #a320d3;

$break-sm: 500px;
$break-md: 720px;
$break-mdlg: 800px;
$break-lg: 1150px;

html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

/*
  Body
*/
body {
  font-size: 16px;
  position: relative;
}
.hide-js .body-img{
  opacity: 0;
}
.body-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: url(/img/beach_light.jpg) 101% 0% no-repeat;
  background-size: 1000px;

  z-index: -1;
  transition: opacity 600ms 50ms;
  animation: throb 4s 1 alternate ease;
  opacity: 0.34;
  &.hue-rotate {
    animation: throb 3s 1 alternate ease, hueRotate 225s infinite alternate ease;
  }
  &.hue-45{
    filter: hue-rotate(45deg);
  }
  &.hue-90{
    filter: hue-rotate(90deg);
  }
  &.hue-135{
    filter: hue-rotate(135deg);
  }
  &.hue-180{
    filter: hue-rotate(180deg);
  }
  &.hue-225{
    filter: hue-rotate(225deg);
  }
  &.hue-270{
    filter: hue-rotate(270deg);
  }
  &.hue-300{
    filter: hue-rotate(255deg);
  }
  &.hue-345{
    filter: hue-rotate(255deg);
  }
  @keyframes throb {
    0% {
      transform: scale(0.96);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes hueRotate {
    100% {
      filter: hue-rotate(1900deg);
    }
  }
  &.dim{
    opacity: 0.15;
  }
  &.blog{
    background: url(/img/color_blot.jpg) -22% 40% no-repeat fixed;
    background-size: 1000px;
    @media (min-width: $break-md) {
      background-position:420px 40%;
    }
    @media (min-width: $break-lg) {
      background-position:820px 40%;
    }
    @media (min-width: 1800px) {
      background-position: 100% 40%;
    }
  }

  &.piano{
    background: url(/img/piano.jpg) 110% 40% no-repeat;
    background-size: 890px;
    @media (min-width: $break-mdlg) {
      background-position: 550px 40%;
    }
    @media (min-width: 1300px) {
      background-position: 120% 40%;
    }
  }
  &.guitar{
    background: url(/img/guitar.jpg) 100% -20% no-repeat;
    background-size: 800px;
    transform-origin: 80% 100%;
  }
  &.telephone{
    background: url(/img/rotary_drawing.png) 10% 20% no-repeat;
    background-size: 1000px;
    transform-origin: 60% 100%;
    @media (min-width: $break-md) {
      background-position: 400px -20%;
    }
    @media (min-width: $break-lg) {
      background-position: 600px -20%;
    }
    @media (min-width: 1400px) {
      background-position: 130% -20%;
    }
  }
  &.portfolio{
    background: url(/img/color_samples.jpg) 50% 0% no-repeat fixed;
    background-size: 1000px;
    transform-origin: 100% 40%;
    @media (min-width: $break-mdlg) {
      background-position: 100% 0;
    }
    &.juiced{
      background: url(/img/juiced.jpg) 120% 0 no-repeat;
      background-size: 1000px;
      transform-origin: 100% 40%;
    }
    &.pates-law{
      background: url(/img/liberty.jpg) 30% 0% no-repeat;
      background-size: cover;
      transform-origin: 50% 100%;
      @media (min-width: $break-mdlg) {
        background-position: 1% 0%;
      }
    }
    &.promo-only-uk{
      background: url(/img/UK-Mascot_Bulldog.png) 0% 130% no-repeat;
      background-size: 600px;
      transform-origin: 40% 40%;
      @media (min-width: $break-mdlg) {
        background-position: 100% 60%;
      }
    }
    &.web-time-tracker{
      background: url(/img/sandglass.jpg) 100% 20% no-repeat;
      background-size: 800px;
      transform-origin: 100% 50%;
      @media (min-width: $break-mdlg) {
        background-position: 120% 20%;

      }
    }
    &.timeline{
      background: url(/img/timeline.svg) 50% 20% no-repeat;
      background-size: 1000px;
      transform-origin: 50% 100%;
      @media (min-width: $break-mdlg) {
        background-position: 100% 20%;

      }
    }
    &.welli{
      background: url(/img/yoga.png) 0% 20% no-repeat;
      background-size: 1000px;
      transform-origin: 50% 100%;
      @media (min-width: $break-mdlg) {
        background-position: 115% 20%;
      }
    }
    &.the-brick-story{
      background: url(/img/TopBritt_Nick.png) 50% 400px no-repeat;
      background-size: auto;
      transform-origin: 80% 100%;

      @media (min-width: $break-lg) {
        background-position: 400px 40%;
      }
      @media (min-width: 1400px) {
        background-position: 125% 40%;
      }
    }
    &.mobile-beat{
      background: url(/img/dj_headphones.svg) 0% 110px no-repeat;
      background-size: 1000px;
      transform-origin: 100% 0%;

      @media (min-width: $break-md) {
        background-position: 300px 30%;
      }
      @media (min-width: $break-lg) {
        background-position: 450px 30%;
      }
      @media (min-width: 1355px) {
        background-position: 120% 30%;
      }
    }
    &.anne-marie-bowen{
      background: url(/img/broke_piggy.jpg) 120px 100px no-repeat;
      background-size: 1000px;
      transform-origin: 50% 100%;
      @media (min-width: $break-lg) {
        background-position: 540px 100px;
      }
      @media (min-width: 1400px) {
        background-position: 130% 100px;
      }
    }
    &.promo-only{
      background: url(/img/dj_drawing.svg) 50% 100px no-repeat;
      background-size: 1000px;
      transform-origin: 50% 100%;
      @media (min-width: 1350px) {
        background-position: 100% 0%;
        background-size: 1300px;

      }
    }
    &.pom{
      background: url(/img/spark.jpg) 100% 50% no-repeat;
      background-size: 1000px;
      transform-origin: 50% 100%;

    }
  }
}
@media (min-width: $break-sm) {
  .body-img{
    opacity: 0.42;
  }
}
@media (min-width: $break-lg) {
  .body-img{
    opacity: 1;
  }
}


/*
  Header
  <header>
*/
.hide-js .header .container{
  opacity: 0;
  transform: translateY(0) scale(0.98);
}
.show-js .header .container{
  // causes weird conflict with stacking
  // transform: translateY(0) scale(1);
  // opacity: 1;
}
.header .container{
  transition: opacity 200ms, transform 600ms;
  transform-origin: 20% 50%;
}
.header {
  padding: 20px 0;
  border-bottom: 1px solid #dadade;
  position: relative;
}
.header .logo, .header .navigation  {
  display: inline-block;
  font-family: "futura-pt", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
}
.header .logo{
  min-width: 70px;
  width: 10%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  .logo--link{
    color: #222;
    text-decoration: none;
  }
  @media (min-width: $break-md) {
    text-align: left;
  }

}
.music .navigation .navigation--link{
  color: #767;
}
.portfolio .navigation .navigation--link{
  color: $color-light-blue;

  color: #24b5a6;

  background: transparent;
}
.contact .navigation .navigation--link{
  color: #FE5481;
}
.blog .navigation .navigation--link{
  color: #24b5a6;
  color: $color-light-blue;

}
.navigation .navigation--link{
    text-decoration: none;
    color: lighten($color-red,10%);
    display: inline-block;
    // margin: 0 5px;
    transition: color 200ms;
    position: relative;
    z-index: 4;
    background: #fff;
    padding: 5px;
    &:hover{
      color: #222;
    }
}

.hide-js .above-fold{
  transform: translateY(33px) scale(.95) ;
  opacity: 0;
}
.show-js .above-fold{
  transform: translateY(0) scale(1);
  opacity: 1;
}
.above-fold{
  padding-bottom: 20px;
  // border-bottom: 7px solid #f0f0f0;
  transition: transform 600ms cubic-bezier(0.455, 0.03, 0.215, 0.755), opacity 600ms 100ms;
  transform-origin: 20% 10%;
}
.modal-window{
  position: absolute;
  overflow:hidden;
  height: 0;
  width: 0;
  background: rgba(2,2,2,0.8);
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  transition: height 0s 400ms, width 0s 400ms, opacity 400ms;
  opacity: 0;

  &.activate{
    height: 100vh;
    width: 100%;
    overflow: visible;
    opacity: 1;
    transition: height 0s, width 0s, opacity 400ms;

  }
  .modal-content{
    width: 96%;
    margin: auto;
    max-width: 650px;
    // min-height: 90vh;
  }
  .modal-exit{
    position: absolute;
    color: #fff;
    font-size: 100px;
    top: 0;
    right: 10%;
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 200ms;
    &:hover{
      opacity: 1;
    }
  }
}
.music .project-ribbon{
  background: rgba(#eee,0.5);
  // background: transparent;
  // border: 1px solid rgba(2,2,2,0.1);
  color: #222;
  .ribbon-p{
    color: #333;
  }
  a{
    transition: color 200ms;
    color: rgba($color-red, 0.8);
    &:hover{
      color: #303030;
    }
  }
}
.blog .project-ribbon{
  background: rgba($color-light-blue,0.9);

}
.portfolio .project-ribbon{
  background: rgba($color-light-blue,0.9);
  background: transparent;
  display: none;
}
.contact .project-ribbon{
  background: rgba(24,34,34,1);
  display: none;
}
.project-ribbon.ribbon-behind{
  position: absolute;
  background: transparent;
  z-index: 1;
  color: #222;
  opacity: 0;
  transition: opacity 300ms 0ms, transform 500ms 0ms;
  transform: translateX(30px);
  height: 0;
  width: 0;
  min-height: 0;
  overflow: hidden;
  padding: 0px 20px 20px 20px;


  .exit-link{
    color: #222;
    text-decoration: none;
    display: block;
    padding: 22px 0 0 0;
    text-transform: lowercase;
    color: #111;

  }

  .subheadline{
    color: $color-red;
    margin: 0;
    padding-top: 0;
  }

  .joey-circle{
    max-width: 100%;
    overflow: hidden;
  }

  #age-in-days{
    width: 124px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
  }

  .more-on-me-list{
    margin: 0;
    padding :0;
    list-style: none;
    width: 95%;
    li{
      padding: 8px 2px;
      border-bottom: 2px dashed rgba($color-red, 0.9);
      color: #324;
      font-family: "futura-pt", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;

    }
  }
}


.hide-js .project-ribbon{
  opacity: 0;
  background: #eee;

}
.show-js .project-ribbon{

}

.project-ribbon{
  background: rgba($color-red, 0.87);
  border-top: 3px solid transparent;
  min-height: 600px;
  width: 100%;
  position: relative;
  padding: 40px 20px;
  // opacity: 0.85;
  color: #fff;
  font-family: "ff-tisa-sans-web-pro", "futura-pt", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
  transition: transform 400ms, opacity 800ms, background 600ms 0ms;
  z-index: 2;
  opacity: 0.85;

  &.slash{
    // background: #f2f2f2;
    background: #ccc;
    border-top: none;
    transform: skew(0deg) translateX(-60%) scale(0.05,1);
    transition: transform 400ms, opacity 400ms, background 400ms 100ms;

    opacity: 0.5;
    position: absolute;
    z-index: 0;

    &+.ribbon-behind{
      visibility: visible;
      opacity: 1;
      transition: opacity 400ms 200ms, transform 400ms 200ms ease;
      transform: translateX(0);
      height: auto;
      width: 100%;
      position: relative;
    }
    .ribbon--content{
      opacity: 0;
      visibility: hidden;
    }
  }
  .ribbon--content{
    transition: opacity 200ms 300ms;
  }


  .ribbon-p{
    color: #f2f2f2;
    font-size: 0.9rem;
    line-height: 1.2rem;
    .block-link{
      display: block;
      padding: 5px 0;
    }
  }

  .ribbon-subheadline{
    font-family: "ff-tisa-sans-web-pro", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
    font-weight: 800;
  }

  .blog-post-summary{
    font-size: 1rem;
    line-height: 1.5rem;

    .summary-title{
      margin: 5px 0;
      font-family: "ff-tisa-sans-web-pro", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
      // font-size: 1rem;
      // padding: 10px 0;
    }
    .blog-post-dl{
      font-size: 1rem;
      dt,.dt{
        margin: 25px 0 5px 0;
        position: relative;
        font-size: 1.5rem;
      }
      .title-post{
        font-style: italic;;
      }
      .time-format{
        // font-family: 'Avenir', serif;
        display: block;
        font-size: 0.9rem;
      }
    }

    .filter-blog-posts-input{
      padding: 10px;
      border: 0;
      outline: 0;
      font-size: 1rem;
      width: calc(90%-40px);
      margin-top: 10px;
      margin-left: 40px;
    }
    .results-found-box{
      display: block;
      margin-left: 40px;
      opacity: 0;
      transition: opacity 200ms;
      font-size: 0.8rem;
      &.activate{
        opacity: 1;
      }
      #clear-results{
        color: darken($color-red, 10%);
        cursor: pointer;
        &:hover{
          color: #222;
        }
      }
    }
  }
  .blog-title{
    display: inline;
  }
  .ribbon-blog-posts{
    font-family: "ff-tisa-sans-web-pro", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
    list-style: none;
    padding: 0 5px;
    color: #eee;
    line-height: 1.1rem;
    font-size: 1rem;

    li{
      padding: 12px 5px;
      border-top: 1px dashed rgba(255,255,255,0.5);
      transition: background 200ms;
    }

    a{
      color: #f2f2f2;
      text-decoration: none;
      &:hover{
        color: #fff;
        li{
          background: rgba(255,255,255,0.1);

        }
      }
    }
  }
  hr {
    height: 1px;
    outline: 0;
    border: 0;
    background: rgba(255,255,255,0.4);
    width: 50%;
    margin: 30px 0;
  }
  a{
    color: #fff;
  }

}

@media (min-width: $break-md) {
  .header .logo{
    font-size: 2.5rem;
  }
  .header .navigation{
    font-size: 1.2rem;
  }
  .navigation .navigation--link{
    margin: 0 15px;
  }
  .project-ribbon{
    position: absolute;
    top: 20px;
    right: 0%;
    max-width: 38%;
    padding: 100px 16px 70px 16px;
    // border-top-color: rgba(32,34,23,0.6);
  }
  .project-ribbon.ribbon-behind{
    padding: 0;
  }
  .project-ribbon.slash+.ribbon-behind{
    position: absolute;
    padding: 100px 16px;

  }
  .above-fold{
    min-height: 450px;
    margin-bottom: 20px;
    border: none;
  }
}

@media (min-width: $break-lg) {
  .project-ribbon{
    position: absolute;
    top: 20px;
    right: 14%;
    max-width: 320px;
    padding: 100px 20px 70px 20px;

  }

}

.body{
  min-height: 600px;
}
.list-links{
  font-family: "ff-tisa-sans-web-pro", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;

  a{
    color: $color-red;
    color: rgba(#24b5a6, 0.95);
    text-decoration: none;
    font-size: 1.25rem;
    transition: color 50ms;
    &:hover{
      color: darken(#209ed3, 50%);
    }
  }
}
.hide-js .breadcrumb-nav{
  transform: translateY(-40px);
}
.show-js .breadcrumb-nav{
  transform: translateY(0px);
}
.breadcrumb-nav {
  position: relative;
  top: 20px;
  font-family: "ff-tisa-sans-web-pro", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
  transition: transform 600ms;

  @media (min-width: $break-md) {
    top: 25px;
  }


  ul.breadcrumb{
    margin: 0;
    padding: 10px 20px;
    background: rgba(#f2f2f2,0.9);
    border-radius: 5px;
    li:first-of-type{
      &:before{
        display: none;
      }
    }
    li{
      display: inline-block;
      padding: 0 8px 0 0;

      &:before{
        content: '>';
        color: #999;
        position: relative;
        display: inline-block;
        padding: 0 8px 0 0;

      }
      a{
        color: $color-light-blue;
        color: #24b5a6;
        text-decoration: none;
      }
      a.active{
        color: #888;
        cursor: default;
      }
    }
  }
}
.home-headline{
  margin-top: 50px;
  font-size: 4rem;
  line-height: 4rem;
  max-width: 600px;
  margin-bottom: 40px;
  padding: 0 10px;
  color: #2c2929;
}
.home-headline.h2{
  font-size: 2rem;
  padding: 0 10px;
  margin: 0;
}
blockquote.home-tagline{
  margin-left: 0;
  // padding-left: 0;
}
.above-fold.blog-post{
  h1,h2,h3,h4,h5,h6{
    font-family: "futura-pt", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
  }
}
.blog-post a{
  color: rgba($color-light-blue,0.9);
  text-decoration: none;
  transition: color 200ms;
  &:hover{
    color: darken($color-light-blue,5%);
  }
}
.home-tagline{
  color: #131214;
  color: rgba(#393434,0.87);
  font-weight: 300;
  font-size: 1.15rem;
  padding: 10px 10px 20px 10px;
  font-family: "ff-tisa-sans-web-pro", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
  .email-is{
    font-family: "futura-pt", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
    text-transform: uppercase;;
  }

}
.tagline-link{
  padding: 6px 20px;
  background: rgba($color-red, 0.8);
  color: #f0f0f0;
  text-decoration: none;
  font-family: "ff-tisa-sans-web-pro", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
  font-size: 1.15rem;
  border-radius: 5px;
  display: inline-block;
  margin: 5px 0;
  transition: background 200ms, color 200ms;


  &:hover{
    background: rgba($color-red, 0.92);
    color: #fff;
  }

}
.blog-datetime{
  font-family: "ff-tisa-sans-web-pro", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
  font-size: 0.85rem;
  color: #777;
  position: relative;
  bottom: 10px;
  border-bottom: 1px solid #eee;
  margin: 10px;
}
@media (min-width: $break-md) {
  .home-tagline{
    max-width: 380px;
    padding: 0 0 20px 0;
  }
  .home-headline{
    padding: 0;
    margin-top: 100px;
    max-width: 380px;
  }
  .blog-datetime{
    margin: 0;
  }
}
@media (min-width: $break-mdlg) {
  .home-tagline{
    max-width: 450px;
  }
}
@media (min-width: $break-lg) {
  .home-tagline{
    max-width: 600px;
  }
}
.blog-posts-list{
  margin: 0;
  list-style: none;
  padding: 10px;

  li.post{
    padding: 10px 0 10px 0;
    margin-bottom: 15px;
    font-family: "ff-tisa-sans-web-pro", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
    position: relative;;
    .displayTitle{
      font-family: "futura-pt", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
      font-size: 1.65rem;
      color: $color-light-blue;
    }
    .postedDate{
      display: block;
    }
    .tags{
      font-size: 12px;
      color: #666;
    }

    &.hide {
      height: 0;
      overflow :hidden;
      width: 0;
      position: absolute;
    }
    &.highlight {
      height: auto;
      overflow: visible;
      width: auto;
      position: relative;
    }
  }
}
.blog-tags{
  font-size: 12px;
  color: #454545;
  font-family: "futura-pt", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
  padding: 10px;
  .tagged-under{
    color: #888;
  }
}

.up-next{

  border-top: 6px solid #eee;
  padding: 15px;
  display: inline-block;
  font-family: "futura-pt", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: rgba($color-red,0.9);
  text-decoration: none;
  transition: color 200ms;

  &:hover{

    .arrow{
      animation: bounceLeft 500ms alternate infinite;
    }
    .title{
      color: rgba($color-red, 0.9);
      transform: translateY(-30px);
      animation: rotateUp 250ms 1 ;
      // transition-delay: 20ms;
      max-width: 340px;
      &.previous{
        max-width: 200px;
        opacity: 1;
        transition: max-width 400ms, opacity 400ms 150ms;
        // animation: none;
      }

    }
    .next-title{
      transform: translateY(30px);
      animation: rotateDown 250ms 1 ;
      transition-delay: 50ms;
      &.previous{
        animation: none;
      }
    }
    color: #666;

    &+.up-next {
      .title{
        width: 120px;
        // transition-delay: 100ms;
      }
      .next-title{
        .up-next-text{
          // display: none;
        }
      }
    }
  }
  .arrow{
    transition: transform 400ms;
    display: inline-block;
    position: relative;
    @keyframes bounceLeft {
      100% {
        transform: translateX(10px);
      }

    }
  }
  .title{
    color: #666;
    // width: 0;
    position: relative;
    display: block;
    text-decoration: none;
    transition: color 200ms, transform 150ms, width 200ms, max-width 200ms;
    height: 30px;
    line-height: 30px;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.previous{
      opacity: 0;
      // width: 10px;
      max-width: 0px;
      transition: max-width 200ms, opacity 0s 0ms, width 200ms;
    }
  }
  .next-title{
    transition: transform 200ms;
    display: block;
    position: relative;
  }
  @keyframes rotateUp {
    0% {
      transform: scale(1) translateY(0px);
    }
    45% {
      transform: scale(0.9) translateY(-15px);
    }
    100% {
      transform: scale(1) translateY(-30px);

    }
  }
  @keyframes rotateDown {
    0% {
      transform: scale(1) translateY(0px);
    }
    45% {
      transform: scale(0.9) translateY(15px);
    }
    100% {
      transform: scale(1) translateY(30px);

    }
  }

}

.instagram-container{
    margin-top: 120px;
    font-family: "Avenir", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: default;
    text-align: left;
    font-size: 14px;
    padding: 50px 0;

    .instagram-header{
      font-weight: 800;
      text-transform: uppercase;
      font-style: italic;
      text-align: center;
      font-size: 18px;
      margin-bottom: 70px;

     .insta-text-block {
      display: inline-block;
      margin: auto;
      border-bottom: 2px solid #e0e0e0;
      border-top: 2px solid #e0e0e0;
      padding: 10px 22px;
      color: #444;
      transition: border-color .4s;

      &:hover{
        transition: border-color .6s .15s;
        border-color: $color-red;
        .quite-boring{
          max-width: 135px;
          padding-right: 1px;
        }
      }

      .quite-boring{
        display: inline-block;
        position: relative;
        font-weight: 300;
        transition: max-width .6s;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        max-width: 0;
        text-transform: lowercase;
      }

     }



     #shuffle_insta{
      position: relative;
      display: inline-block;
      top: 30px;
      cursor: pointer;
      height: 45px;
      width: 45px;
      line-height: 45px;
      border-radius: 45px;
      // background: #f2f2f2;
      vertical-align: middle;
      transition: background .4s;
      text-decoration: none;

      &:hover{
        // background: lighten($color-red,20%);
        .rotate{
          transform: rotate(.25turn);
        }
      }
      &:active{
        .rotate{
          transform: rotate(420deg);
        }
      }

      .shuffle_caption{
        position: relative;
        color: #888;
        font-size: 12px;
        top: 0px;
        width: 145px;
        right: 50px;
        text-decoration: none;


        span{
          display: none;
          text-decoration: none;
        }
      }

      &[data-scramble=true]{
        .shuffle_caption{
          .neat{
            display: block;
          }
        }
      }
      &[data-scramble=false]{
        .shuffle_caption{
          .shuffled{
            display: block;
          }
        }
      }


      .rotate{
        transition: transform .3s;
        transform-origin: 50% 50%;
        position: relative;
        // top: 4px;
        opacity: 0.6;
        width: 100%;
        // right: 0.8px;
      }
     }

      .insta_glyph{
        height: 15px;
        position: relative;
        bottom: 0px;
        right: 2px;
        opacity: 0.9;
      }
    }

  .instagram{
    height: 450px;
    width: 100%;
    overflow: hidden;

    .insta_posts_container{
      width: 100%;
      position: relative;
      display: block;
      transition: transform .8s;
      perspective: 400px;
      transform: translateX(0px);
    }

    .posts {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 5000px;
      transform-style: preserve-3d;
      position: relative;
      &[data-scramble=true]{
        a{
          li{
            img{
              transform: rotate(15deg);
            }
          }
        }
        a:nth-child(odd){
          li{
            img{
              transform: rotate(-15deg);
            }
          }
        }
        a:nth-child(1) {
          li{
            img{
              transform: rotate(-20deg) scale(.93);
            }

          }
        }
        a:nth-child(2) {
          li{
            img{
              transform: rotate(20deg)  scale(0.85);
            }
          }
        }
        a:nth-child(3) {
          li{
            img{
              transform: rotate(-10deg)  scale(0.8);
            }
          }
        }
        a:nth-child(4) {
          li{
            img{
              transform: rotate(-40deg)  scale(0.9);
            }
          }
        }
        a:nth-child(5) {
          li{
            img{
              transform: rotate(-13deg)  scale(.7);
            }
          }
        }
        a:nth-child(6) {
          li{
            img{
              transform: rotate(9deg)  scale(0.8);
            }
          }
        }
        a:nth-child(7) {
          li{
            img{
              transform: rotate(-5deg)  scale(.9);
            }
          }
        }
        a:nth-child(8) {
          li{
            img{
              transform: rotate(15deg)  scale(.9);
            }
          }
        }
      }
      &[data-scramble]{

        a{
          outline: none;
          border: none;
          // cursor: default;


          li{
            display: inline-block;
            margin: auto;
            padding: 10px;
            width: 265px;
            text-align: center;
            transition: width .3s;
            position: relative;

            &:hover{
              // width: 225px;
              img{
                transition-timing-function: ease;
                transform-origin: 50% 50%;
                transform: scale(1.16) rotate(0deg);
                opacity: 1;
                // filter: none;
                z-index: 6;
              }
            }

            img{
              // max-height: 225px;
              // max-width: 100%;
              position: relative;
              height: 225px;
              transition: transform .4s;
              top: 35px;
              // filter: grayscale(.7);
              // border: 5px solid #ddd;
              z-index: 2;
              box-shadow: 0 5px 4px -4px rgba(2,2,2,.5);

            }


            .details{
              display: block;
              position: absolute;
              width: 100%;
              height: 100%;
              opacity: 0;
              transition: opacity .4s;
              color: #fff;
              top: 0;
              left: -5px;
              z-index: 5;
              transform: translateY(15%);
              padding-top: 70px;
              &:hover{
                .open{
                  img{
                    opacity: 1;
                  }
                }
              }
              .exit-insta{
                position: absolute;
                display: inline-block;
                top: -76px;
                left: -75px;
                padding: 15px 10px 5px 10px;
                font-size: 52px;
                color: #FF7D81;
                font-family: 'Avenir', sans;
                font-weight: 100;
                transition: color .2s;
                vertical-align: middle;
                transform-origin: 50% 50%;
                z-index: 10;
                &:hover{
                  color: #E42F35;
                }
              }
              .caption{
                display: block;
                max-width: 100vw;
                // width: 100%;
                font-size: 20px;
                color: $color-red;
                font-family: 'Avenir', serif;
                font-style: italic;
                font-weight: 100;
                position: absolute;
                top: 300px;
                left: -20px;
                text-align: left;
                display: none;
              }
              .comments, .likes{
                display: inline-block;
                position: relative;
                width: 19px;
                height: 19px;
                background-image: url(/img/insta_sprite.png);
                background-repeat: no-repeat;
                background-size: 219px 216px;
                text-indent: 25px;
                white-space: nowrap;
                font-weight: 900;
                line-height: 24px;
                &.comments{
                  right: 30px;
                  background-position: -172px -175px;
                }
                &.likes{
                  right: -30px;
                  background-position: -152px -175px;
                }
              }
              .open{
                position: relative;
                display: inline-block;
                margin: auto;
                top: 40px;
                font-size: 14px;
                width: 140px;
                margin: auto;
                left: 9px; //
                border: 2px solid #eee;
                text-transform: uppercase;
                text-decoration: none;
                z-index: 8;
                color: #fff;
                font-weight: 900;
                vertical-align: middle;
                padding: 3px 5px;

                img{
                  width: 22px;
                  height: auto;
                  filter: invert(1) brightness(1.1);
                  opacity: 0.8;
                  transition: opacity .3s;

                }




              }



            }

          }


          &.active {
            cursor: pointer;
            // &:hover{
            //   li{
            //     img{
            //       filter: none;
            //     }
            //     .details{
            //       .open, .comments, .likes{
            //         opacity: 0;

            //       }
            //     }
            //   }
            // }

            li{
              // width: 300px;
              max-width: 100%;
              max-width: 100vw;
              max-height: 400px;
              // text-align: right;
              width: 250px;

              img{
                max-height: 100%;
                max-width: 90vw;
                // height: 100%;
                opacity: 1;
                filter: none;
                transition: transform .4s, box-shadow .4s;
                transform: scale(1.32) rotate(0deg);
                z-index: 5;
                filter: brightness(.7);
                box-shadow: 0 9px 6px -6px rgba(2,2,2,.5);
                border: none;
              }
              .details{
                opacity: 1;
                .caption{
                  display: block;
                }
              }
            }
          }
        }
        &[data-scramble=true]{
          a{
            li{
              width: 195px;
              img{
                // transform: rotate(15deg);
              }
            }
            &.active{
              li{
                width: 250px;
              }
            }
          }
        }
      }




    }
    // .active ~ a{
    //   // all sybling selectors

    //     img{
    //       transform: rotate(25deg);
    //     }

    // }


    // .active + a {
    //   // immediately next selector
    //   li{
    //     img{
    //       transform: rotate(5deg);
    //     }
    //   }
    // }
  }
}

.hide-js .footer{
  opacity: 0;
}
.show-js .footer{
  opacity: 1;
}
.footer{
  padding: 30px 0;
  border-top: 1px solid #dadade;
  position: relative;
  transition: opacity 600ms 400ms;
  font-family: "ff-tisa-sans-web-pro", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
  color: #545a5a;
  .container{
    padding: 10px;
  }
  .hand-craft{
    padding: 10px 0;
    a{
      color: rgba($color-light-blue,0.8);
      text-decoration: none;
    }
  }
  @media (min-width: $break-md) {
    .container {
      padding: 0;
    }
  }
}

.blog-posts-container{
  display: flex; flex-wrap: wrap;
  .above-fold{
    order: 2;
    padding-top: 50px;
    @media (min-width: $break-md) {
      padding-top: 100px;
    }
  }
}
.blog-posts-ribbon{
  order: 1; min-height: 0;
  top: 20px;
}

// helpers
.container{
  width:100%;
  max-width: 100vw;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  @media (min-width: $break-md) {
    width: 90%;
  }
}
.no-js-hide{
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
}
.js .no-js-hide{
  visibility: visible;
  max-height: none;
  overflow: visible;
}
.pre{
  background: rgba(235,235,235,0.7);
  border-radius: 3px;
  padding: 25px 5px;
  max-width: 500px;
  font-family: monospace;
}


.headline{
  font-weight: 600;
  font-family: "futura-pt", HelveticaNeue-Light, Helvetica Neue Light, Helvetica, sans-serif;
}
