<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <script>
       (function() {
           'use strict';
           var htmlEle = document.documentElement;
           htmlEle.className = "js hide-js";
       })();
   </script>
  <script src="https://use.typekit.net/pnc6egy.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="/css/jl.css">
</head>
<body class=" {{ bodyClass }}">

  <header class="header">

    <div class="container">

      <div class="logo">
        <a href="/" class="logo--link">JL</a>
      </div>

      <nav class="navigation">
        <a href="/blog" class="navigation--link">Blog</a>
        <a href="/portfolio" class="navigation--link">Portfolio</a>
        <a href="/music" class="navigation--link">Music</a>
        <a href="/contact" class="navigation--link">Contact</a>
      </nav>


    </div>

  </header>
