{{> header }}

  <section class="body">
    <div class="container blog-posts-container">

      <div class="above-fold">


        <!-- <h1 class="home-headline headline">{{{displayTitle}}}</h1> -->


        {{{contents}}}

        <ul class="blog-posts-list">
          {{#each blog}}
            <li class="post" data-post="{{@index}}">
              <a class="displayTitle" href="/blog/{{{filename}}}">{{{displayTitle}}}</a>
              <span class="postedDate">{{postedDate}}</span>
              <span class="tags"><strong>tagged under:</strong> <span class="tags-list" data-post={{@index}} data-tags="{{tags}}">{{tags}}</span></span>
            </li>
          {{/each}}
        </ul>

      </div>


      <div class="project-ribbon blog-posts-ribbon" id="project-ribbon">
        <div class="blog-post-summary">
          <dl class="blog-post-dl">
            <dt class="headline">Blog Posts</dt>
            <dd>{{collections.blog.length}}</dd>
            <dt class="headline">Most Recent Post</dt>
            <dd><a class="title-post" href="/blog/{{{blog.0.filename}}}">{{blog.0.displayTitle}}</a><span class="time-format">on {{ blog.0.postedDate }}</span></dd>
            <div class="headline dt">Filter Posts</div>
            <input type="text" placeholder="Enter a tag" class="filter-blog-posts-input" id="filter-blog-posts">
          </dl>
        </div>
      </div>


    </div>

  </section>
  <section class="body-img {{ bodyImgClass }}" id="body-img"></section>


{{> footer }}

<script>
(function(){

  var tagsToFilter = {};
  var tagsArray = [].slice.call(document.querySelectorAll(".tags-list"));
  var allPosts = [].slice.call(document.querySelectorAll("li.post"));

  tagsArray.forEach( function (tags) {

    var _tag = tags.dataset.tags || tags.getAttribute("data-tags");
    var _post = tags.dataset.post || tags.getAttribute("data-post");

    var _allTags = _tag.split(",");
    _allTags.forEach( function (tag) {
      tag = tag.replace('"','').trim();
      if ( !tag ) {
        return;
      }
      if ( tagsToFilter[tag] && tagsToFilter[tag].length > 0 ) {
        tagsToFilter[tag].push(_post);
      } else {
        tagsToFilter[tag] = [ _post ];
      }
    });
  } );
  console.log(tagsToFilter);


  function clearSearchedElements() {
    allPosts.forEach( function (ele) {
      ele.classList.remove("highlight");
      ele.classList.remove("hide");
    });
  }

  function hideAllElements() {
    allPosts.forEach( function (ele) {
      ele.classList.add("hide");
    });
  }

  var filterInput = document.getElementById("filter-blog-posts");
  filterInput.onchange = function(e) {
    var _search = this.value;

    if ( tagsToFilter[_search] ) {

      hideAllElements();

      var _results = tagsToFilter[_search];
      _results.forEach( function ( post ) {
        console.log(post);
        _domHighLight = [].slice.call(document.querySelectorAll("[data-post='" + post + "']"));
        _domHighLight.forEach( function (ele) {
          ele.classList.add("highlight");
        });
      });
    } else {
      clearSearchedElements();
    }

  };

})();


</script>
