<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <script src="https://use.typekit.net/pnc6egy.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="/css/jl.css">

</head>
<body>
  <header class="header">

    <div class="container">

      <div class="logo">
        <a href="/" class="logo--link">JL</a>
      </div>

      <nav class="navigation">
        <a href="/about" class="navigation--link">About</a>
        <a href="/about" class="navigation--link">Portfolio</a>
        <a href="/about" class="navigation--link">Music</a>
        <a href="/about" class="navigation--link">Contact</a>
      </nav>


    </div>

  </header>

  <section class="body">
    <div class="container">

      {{{contents}}}


    </div>

  </section>

  <script src="/js/jl.min.js"></script>
</body>
</html>
